body {
  background-color: #F7E5C2;
}

h1, h3, p {
  text-align: center;
}

p {
  width: 400px;
  margin: 0 auto;
}

table {
  width: 800px;
  margin: 50px auto;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid #AD3533;
  border-right: 2px solid #AD3533;
}

td {
  padding: 10px;
  border-right: 2px solid #AD3533;
  border-bottom: 2px solid #AD3533;
}

form {
  width: 500px;
  margin: 50px auto;
}

.input {
  width: 400px;
  display: block;
  margin: 5px;
}

label {
  float: left;
  width: 200px;
  text-align: right;
  padding-right: 20px;
}

input {
  padding: 10px;
}

button {
  display: block;
  width: 100px;
  margin: 10px auto;
}

footer {
  text-align: center;
}