body {
  background-color: #F7E5C2;
}

h1, h3, p {
  text-align: center;
}

p {
  width: 400px;
  margin: 0 auto;
}

table {
  width: 800px;
  margin: 50px auto;
  border-collapse: collapse;
}

th {
  border-bottom: 2px solid #AD3533;
  border-right: 2px solid #AD3533;
}

td {
  padding: 10px;
  border-right: 2px solid #AD3533;
  border-bottom: 2px solid #AD3533;
}

div {
  text-align: center;
}
