h1, h3, p {
  text-align: center;
}

p {
  width: 400px;
  margin: 0 auto;
}

section {
  width: 208px;
  display: inline-block;
  margin: 50px 20px;
}

li {
  padding: 2px;
  list-style-position: inside;
  list-style: square
}

.total {
  font-weight: bold;
  list-style: none;
  margin-top: 10px;
}

div {
  text-align: center;
}